<!DOCTYPE html>
<!-- Consider specifying the language of your content by adding the `lang` attribute to <html> -->
<!--[if lt IE 7]> <html class="no-js ie6"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>

	<meta charset="utf-8">

	<!-- Always force latest IE rendering engine & Chrome Frame -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<!-- Put your title here! -->
	<title>Accueil</title>

	<meta name="description" content="">

	 <!-- Mobile viewport optimized: h5bp.com/viewport -->
	<meta name="viewport" content="width=device-width">

	<link href="/public/stylesheets/style.css" rel="stylesheet">

	<!-- Load Open Sans and Merriweather from Google Fonts
		For optimal performance, customize it to load the styles you need:
		http://goo.gl/QufgJ
	-->
	<link href="//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700|Merriweather:400,700,900" rel="stylesheet">

	<!-- All JavaScript at the bottom, except for Modernizr
		Modernizr enables HTML5 elements & feature detects; It includes Respond, a polyfill for min/max-width CSS3 Media Queries
		For optimal performance, use a custom Modernizr build: www.modernizr.com/download/ -->
	<script src="/view/js/modernizr-2.6.1.min.js"></script>
</head>

<body>

	<!-- Prompt IE 6 and 7 users to install Chrome Frame:		chromium.org/developers/how-tos/chrome-frame-getting-started -->
	<!--[if lt IE 8]>
		<p class="chromeframe alert alert-warning">Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p>
	<![endif]-->

	<header id="master-header" class="clearfix" role="banner">

		<hgroup>
			<h1 id="site-title"><a href="index.html" title="">Ei4 Proj3ct</a></h1>
			<h2 id="site-description">Bienvenue dans votre tombeau !</h2>
		</hgroup>

	</header> <!-- #master-header -->

<div id="main" class="row clearfix">

	<!-- Main navigation -->
	<nav class="main-navigation clearfix span12" role="navigation">
		<h3 class="assistive-text">Menu principal</h3>
		<ul>
			<li class="current span2"><a href="/">Accueil</a></li>
			<li class="span2">
				<a href="jeu">Jeu</a>
				<ul class="sub-menu">
					<li><a href="regles">Règles</a></li>
					<li><a href="chat-equipe">Chat</a></li>
				</ul>
			</li>
			<li class="span2"><a href="classement">Classement</a></li>
			<li class="span2"><a href="chat-general">Chat</a></li>
		</ul>
	</nav> <!-- #main-navigation -->

	<!-- Login form -->
	<div id="LoginForm" class="loginform">
		Connectez vous : <input type="text" id="PseudoLogin" placeholder="Entrez votre Pseudo" value="" required="">
		Mot de passe : <input type="password" id="PasswordLogin" placeholder="Entrez votre Mot de passe" value="" required="">
		<input type="submit" id="SubmitLogin" value="Encore vivant ?!">
	</div>
<div id="content" role="main" class="span7">

	<article class="post hentry">

		<header class="entry-header">
			<h1 class="entry-title">
				Première news
			</h1>

			<!-- .<a href="#" title="Post Heading"><img src="images/200x200.gif" alt="Post thumbnail" class="thumbnail" /></a> -->
		</header> <!-- .entry-header -->

		<div class="entry-content">
			<p>
				Bienvenue sur notre site ! Ici vous trouverez les principales news apportées à notre jeu !
			</p>
		</div> <!-- .entry-content -->

		<footer class="entry-meta">
			Posté le <time class="entry-date" datetime="11-12-2013" pubdate>11 Décembre 2013</time>
			par <span class="author vcard">Admin</span>

			<span class="edit-link"><a href="#" title="Edit entry">Edit &#9997;</a></span>
		</footer>

	</article> <!-- .post.hentry -->

</div> <!-- #content -->

<div id="sidebar" role="complementary" class="span4">
	<div id="subscribtionAlert">
	</div>
	<!-- Subscription form -->
	<div id="SubscribeForm" name="SubscribeForm" class="subscribeform">
		<h2 align=center>Venez creuser votre tombe !</h2>
		<input type="text" id="PseudoSubscribe" placeholder="Pseudo" value="" required="">
		<input type="password" id="PasswordSubscribe" placeholder="Mot de passe" value="" required="">
		<input type="email" id="EmailSubscribe" placeholder="E-mail" value="" required="">
		<input type="submit" id="SubmitSubscribe" value="Inscription">
	</div>

</div> <!-- #sidebar -->

</div> <!-- #main -->

	<footer id="footer">
	
	</footer> <!-- #footer -->
	<!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="js/jquery-1.7.2.min.js"><\/script>')</script>
		
		<!-- Script nécessaires pour le serveur -->
		<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
	
	<script>

	/*********** EVENEMENTS LORS DE RECEPTION D'UNE COMMUNICATION SERVEUR -> CLIENT **************/
	var socket = io.connect('http://localhost:8080');
	
	var input_Pseudo = "";
	var input_Email  = "";
	
	/*
	 * RECEPTION DES INFORMATIONS SUR LA CONNEXION
	 * Recoit 1 si ok
	 * Recoit 0 si couple inexistant
	 */
	socket.on('CONNEXION_SC', function(reponseConnexion) {
		if(reponseConnexion == 1)
		{
			$("#LoginForm").html('Bienvenue ' + $('#PseudoLogin').val() + " !");
			$("#SubscribeForm").html('<img src="/view/images/zombie.jpg"/>');
		}
		else
		{
			$("#LoginForm").show();
		}
	});

	/*
	 * RECEPTION DES INFORMATIONS SUR L'INSCRIPTION
	 * Recoit 1 : ok
	 * Recoit 0 : erreur interne
	 * Recoit -1 : pseudo deja pris
	 * Recoit -2 : email deja pris
	 */
	socket.on('INSCRIPTION_SC', function(reponseInscription) {
		if(reponseInscription == 1)
		{
			$("#subscribtionAlert").hide();
			$("#subscribtionAlert").html('Bienvenue ' + input_Pseudo +
			 " !<br> Votre compte est crée, vous pouvez désormais vous connecter !");
			$("#subscribtionAlert").removeClass("*").addClass("alert alert-success").show();
			$("#SubscribeForm").hide();
		}
		else if(reponseInscription == 0)
		{
			$("#subscribtionAlert").hide();
			$("#subscribtionAlert").html('Erreur interne');
			$("#subscribtionAlert").removeClass("*").addClass("alert alert-error").show();
			$("#SubscribeForm").show();
		}
		else if(reponseInscription == -1)
		{
			$("#subscribtionAlert").hide();
			$("#subscribtionAlert").html('Pseudo déja utilisé !');
			$("#subscribtionAlert").removeClass("*").addClass("alert alert-warning").show();
			$("#SubscribeForm").show();
		}
		else if(reponseInscription == -2)
		{
			$("#subscribtionAlert").hide();
			$("#subscribtionAlert").html('Email déja utilisé !');
			$("#subscribtionAlert").removeClass("*").addClass("alert alert-warning").show();
			$("#SubscribeForm").show();
		}
		else
		{
			$("#SubscribeForm").show();
		}
	});

	// Contact form
	$("#SubmitLogin").click(function(e)
	{
		// Setup any needed variables
		input_Pseudo   = $('#PseudoLogin').val();
		var input_Password = $('#PasswordLogin').val();

		// Hide any previous response text
		$("#LoginForm").hide();
		$("#SubscribeForm").hide(100);
		
		socket.emit('CONNEXION_CS', input_Pseudo, input_Password);
	});

	// Contact form
	$("#SubmitSubscribe").click(function(e)
	{
		// Setup any needed variables
		input_Pseudo   = $('#PseudoSubscribe').val();
		var input_Password = $('#PasswordSubscribe').val();
		input_Email = $('#EmailSubscribe').val();

		// Hide any previous response text
		$("#SubscribeForm").hide();

		// Change response text to 'loading...'
		$("#subscribtionAlert").html('Chargement...').show();
		
		socket.emit('INSCRIPTION_CS', input_Pseudo, input_Password, input_Email);
		
		e.preventDefault();
	});
	
	</script>
	
</body>
</html>
