<!DOCTYPE html>
<html class="no-js">
	<head>
		<title>Zomb'IstiA - Accueil</title>

	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="../public/bootstrap/css/bootstrap-modal-bs3patch.css" rel="stylesheet">
		<link href="../public/bootstrap/css/bootstrap.css" rel="stylesheet">
		<link href="../public/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
		<link href="../public/bootstrap/css/bootstrap-modal.css" rel="stylesheet">

	</head>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="/view/js/jquery-1.7.2.min.js"><\/script>')</script>

	<script src="/socket.io/socket.io.js"></script>
	<script src="../public/bootstrap/js/bootstrap.min.js"></script>

	<script>
		/*********** EVENEMENTS LORS DE RECEPTION D'UNE COMMUNICATION SERVEUR -> CLIENT **************/

		var socket = io.connect('http://localhost:25536');
		
		<% if(sessionID) { %>
			$( document ).ready(function()
			{
				socket.emit('INFO_USER_CS', '<%= sessionID %>', '<%= username %>', "accueil");
			});
		<% } %>
		
		socket.on("DECONEXION_SC", function(msg)
		{
			alert(msg);
			$.post("/", { _method: "delete" }, function()
			{
				document.location = "/";
			});
		});
		
	</script>

	<body>
		<div class="col-md-5">
		<a class="navbar-brand navbar-fixed-top" href="#">LOGO</a>
		</div>
		<nav style="border-bottom-left-radius: 50px" class="navbar navbar-inverse col-md-offset-5 col-md-7 navbar-fixed-top" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<form class="navbar-form navbar-left" action="/" method="post" style="margin-left:5%;">
						<div class="form-group">
					 		<input name="username" type="text" class="form-control" placeholder="Login"/>
					 		<input name="password" type="password" class="form-control" placeholder="Mot de passe"/>
						</div>
						<input name="submit" type="submit" value="Connexion" class="btn btn-success"/>
					</form>
					<a href="#responsive" data-toggle="modal" class="navbar-text navbar-right navbar-link" style="color:#FF0000; text-decoration:underline;">Rejoignez-nous</a>
				</div>
			</div>
		</nav>

		<div class="container">
			<!-- Example row of columns -->
			<div class="row">
				<div class="row" style="background-color: rgba(160, 160, 160, 0.4);padding: 2% 2% 2% 2%;margin: 10% 5% 1% 5%; min-height: 250px">
					<div id="mid-zone-content" class="col-md-10">
						<h2>Heading</h2>
						<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
						<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
						<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
						<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
					</div>
					<div class="col-md-2">
						<ul class="nav nav-sidebar nav-pills nav-stacked" style="">
							<li class="active"><a href="#">Home</a></li>
							<li><a href="#">Profile</a></li>
							<hr width="75%" size="500px" color="red" noshade/>
							<li><a href="#">Messages</a></li>
						</ul>
					</div>
				</div>
				    <div id="responsive" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
				    	<form action="/" method="POST">
					 		<input name="_method" type="hidden" value="PUT"/>
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
								<h4 align="center" class="modal-title">Rejoignez-nous !</h4>
							</div>
							<div class="modal-body">
						 		<input style="margin-top:2%;" class="form-control" name="username" placeholder="Login" type="text" style="padding: 10px 10px 10px 10px;" align="center">
						 		<input style="margin-top:2%;" class="form-control" name="password" placeholder="Mot de passe" type="password">
						 		<input style="margin-top:2%;" class="form-control" name="email" 	placeholder="E-mail" type="text">
							</div>
							<div class="modal-footer">
								<button type="button" data-dismiss="modal" class="btn btn-default">Annuler</button>
								<input  type="submit" class="btn btn-primary" value="S'inscrire" />
							</div>
				    	</form>
					</div>
			</div>

			<hr>

			<footer>
			<p>&copy; Company 2014</p>
			</footer>
		</div> <!-- /container -->

		<script>
		/*
			var $modal = $('#ajax-modal');
    
		    $('.ajax .demo').on('click', function(){
			    // create the backdrop and wait for next modal to be triggered
			    $('body').modalmanager('loading');
			     
			    setTimeout(function(){
				    $modal.load('modal_ajax_test.html', '', function(){
				    	$modal.modal();
				    });
			    }, 1000);
		    });
		     
		    $modal.on('click', '.update', function(){
			    $modal.modal('loading');
			    setTimeout(function(){
			    	$modal
			    		.modal('loading')
			    		.find('.modal-body')
			    		.prepend('<div class="alert alert-info fade in">' +
			    		'Updated!<button type="button" class="close" data-dismiss="alert">&times;</button>' +
			    		'</div>');
		   		}, 1000);
		    });
		*/
		</script>
	</body>
</html>