<!DOCTYPE html>
<!-- Consider specifying the language of your content by adding the `lang` attribute to <html> -->
<!--[if lt IE 7]> <html class="no-js ie6"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>

	<meta charset="utf-8">

	<!-- Always force latest IE rendering engine & Chrome Frame -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<!-- Put your title here! -->
	<title>Accueil</title>

	<meta name="description" content="">

	 <!-- Mobile viewport optimized: h5bp.com/viewport -->
	<meta name="viewport" content="width=device-width">

	<link href="/public/stylesheets/style.css" rel="stylesheet">

	<!-- Load Open Sans and Merriweather from Google Fonts
		For optimal performance, customize it to load the styles you need:
		http://goo.gl/QufgJ
	-->
	<link href="//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700|Merriweather:400,700,900" rel="stylesheet">

	<!-- All JavaScript at the bottom, except for Modernizr
		Modernizr enables HTML5 elements & feature detects; It includes Respond, a polyfill for min/max-width CSS3 Media Queries
		For optimal performance, use a custom Modernizr build: www.modernizr.com/download/ -->
	<script src="/view/js/modernizr-2.6.1.min.js"></script>
</head>

<body>

	<!-- Prompt IE 6 and 7 users to install Chrome Frame:		chromium.org/developers/how-tos/chrome-frame-getting-started -->
	<!--[if lt IE 8]>
		<p class="chromeframe alert alert-warning">Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p>
	<![endif]-->

	<header id="master-header" class="clearfix" role="banner">

		<hgroup>
			<h1 id="site-title"><a href="index.html" title="">Ei4 Proj3ct</a></h1>
			<h2 id="site-description">Bienvenue dans votre tombeau !</h2>
		</hgroup>

	</header> <!-- #master-header -->

<div id="main" class="row clearfix">

	<!-- Main navigation -->
	<nav class="main-navigation clearfix span12" role="navigation">
		<h3 class="assistive-text">Menu principal</h3>
		<ul>
			<li class="current span2"><a href="/">Accueil</a></li>
			<li class="span2"><a href="regles">But du jeu</a></li>
			<li class="span2">
				<a href="jeu">Jeu</a>
				<ul class="sub-menu">
					<li><a href="chat-equipe">Chat</a></li>
				</ul>
			</li>
			<li class="span2"><a href="classement">Classement</a></li>
			<li class="span2"><a href="chat-general">Chat</a></li>
		</ul>
	</nav> <!-- #main-navigation -->
	
	<form id="LogoutForm" class="logoutform" action="/" method=POST>
		<input type=hidden name="_method" value="delete"/>
		<div> Bonjour <%= username %></div>
		<input type="submit" value="Retourner chez les vivants ?" align=right>
	</form>

<div id="content" role="main" class="span12">
	<% if(idEquipe == 0) { %>
		<h1>Bienvenue !</h1>
		<p>Avant de pouvoir vous lancer dans l'aventure, vous devez encore choisir votre équipe et la compétence spécial de votre personnage.<br>
		Vous avez le choix entre trois compétences :<br>
		Vous pouvez être <b>UNE BRUTE</b>: Cela signifie alors que votre personnage a des <b>dégats d'attaque</b> et une <b>défense augmentée</b>. En revanche il aura moins de chance de pouvoir se cacher.<br>
		Vous pouvez être <b>UN EXPLORATEUR</b>: Dans ce cas là c'est au contraire la <b>probabilité de se cacher</b> vos <b>points de mouvements maximum</b> qui sont augmentés. Par contre faites attention à ne pas vous faire attaquer car vos points de défense sont relativement faibles.<br>
		Vous pouvez être <b>UN CHERCHEUR</b>: Ici vous êtes fait pour fouiller les alentours afin de trouver les objets nécessaires à votre victoire. Bien entendu celà a un coup, vos dégats sont réduits ainsi que votre probabilité de cache.<br>
		</p>
		<form name="formInitPerso" method="POST" action="/jeu">
			<input type="hidden" name="_method" value="PUT">
			<select name="equipe">
				<option value="1">Equipe 1</option>
				<option value="2">Equipe 2</option>
			</select>
			<select name="competence">
				<option value="brute">Brute (Dégats et Défense augmentés)</option>
				<option value="explorateur">Explorateur (Probabilité de se cacher et Points de mouvement augmentée)</option>
				<option value="chercheur">Chercheur (Probabilité de fouille augmentée)</option>
			</select>
			<input type="submit" value="Se lancer !" name="submitChoixDepart" />
		</form>
	<% } else { %>
		<h1 class="entry-title" align=center>
			Chat de l'équipe
		</h1>
		
		<!-- Chat -->
			<div class="chat span12">
				<div class="row">
					<div class="span8 msgArea" id="msgArea">
						<h1 align=center >Messages :</h1>
						<div class="msgTextArea" id="msgs">
							<!-- <textarea readonly align="center" cols=90></textarea> -->
						</div>
						<div class="chatContols">
							<input type="text" placeholder="Votre message" id="msgTextBox"/>
							<input type="submit" value="Envoyer !" id="msgSubmit"/>
						</div>
					</div>
					<div class="span4 userArea" id="userArea">
						<h1 align=center >Utilisateurs connectés :</h1>
						<ul id="listUsers">
						</ul>
					</div>
				</div>
			</div>
		<!-- #Chat -->
	<% } %>
</div> <!-- #content -->

</div> <!-- #main -->

	<footer id="footer">
	
	</footer> <!-- #footer -->

	<!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="js/jquery-1.7.2.min.js"><\/script>')</script>
		
		<!-- Script nécessaires pour le serveur -->
		
		<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>


		<script>
			/*********** EVENEMENTS LORS DE RECEPETION D'UNE COMMUNICATION SERVEUR -> CLIENT **************/
			var chat = io.connect('http://localhost:8080/chat-equipe');
			
			$( document ).ready(function()
			{
				chat.emit('INFO_USER_CS', '<%= sessionID %>', '<%= username %>');
			});
			
			chat.on('USER_CONNECTED_SC', function(users)
			{
				$("#listUsers").html("");
				for(var i in users)
				{
					$("#listUsers").append("<li id='user-" + users[i] + "'>" + users[i] + "</li>");
				}
			});
			
			chat.on('USER_MESSAGE_SC', function(user, message)
			{
				$("#msgs").append("<div>" + user + " : " + message + "</div>");
			});
			
			$("#msgSubmit").click(function()
			{
				sendMessage();
			});
			
			$('#msgTextBox').keydown(function (e){
			if(e.keyCode == 13){
				sendMessage();
			}
			});
			
			sendMessage = function()
			{
				var message = $("#msgTextBox").val();
				if(message != "")
				{
					chat.emit("USER_MESSAGE_CS", '<%= username %>', message);
				}
				$("#msgTextBox").val("");
			}		
		</script>
</body>
</html>
