<!DOCTYPE html>
<!-- Consider specifying the language of your content by adding the `lang` attribute to <html> -->
<!--[if lt IE 7]> <html class="no-js ie6"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>

	<meta charset="utf-8">

	<!-- Always force latest IE rendering engine & Chrome Frame -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<!-- Put your title here! -->
	<title>Zomb'IstiA - Classement</title>

	<meta name="description" content="">

	 <!-- Mobile viewport optimized: h5bp.com/viewport -->
	<meta name="viewport" content="width=device-width">

	<link href="/public/stylesheets/style.css" rel="stylesheet">

	<!-- Load Open Sans and Merriweather from Google Fonts
		For optimal performance, customize it to load the styles you need:
		http://goo.gl/QufgJ
	-->
	<link href="//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700|Merriweather:400,700,900" rel="stylesheet">

	<!-- All JavaScript at the bottom, except for Modernizr
		Modernizr enables HTML5 elements & feature detects; It includes Respond, a polyfill for min/max-width CSS3 Media Queries
		For optimal performance, use a custom Modernizr build: www.modernizr.com/download/ -->
	<script src="/view/js/modernizr-2.6.1.min.js"></script>
</head>

<body>

	<!-- Prompt IE 6 and 7 users to install Chrome Frame:		chromium.org/developers/how-tos/chrome-frame-getting-started -->
	<!--[if lt IE 8]>
		<p class="chromeframe alert alert-warning">Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p>
	<![endif]-->

	<header id="master-header" class="clearfix" role="banner">

		<hgroup>
			<h1 id="site-title"><a href="/" title="">Zomb'IstiA</a></h1>
			<h2 id="site-description">C'est qui les meilleurs ?!</h2>
		</hgroup>

	</header> <!-- #master-header -->

<div id="main" class="row clearfix">

	<!-- Main navigation -->
	<nav class="main-navigation clearfix span12" role="navigation">
		<h3 class="assistive-text">Menu principal</h3>
		<ul>
			<li class="span2"><a href="/">Accueil</a></li>
			<li class="span2">
				<a href="regles">But du jeu</a>
				<ul class="sub-menu">
					<li><a href="tutoriel">Tutoriel</a></li>
				</ul>
			</li>
			<li class="span2">
				<a href="/jeu">Jeu</a>
				<ul class="sub-menu">
					<li><a href="/chat-equipe">Chat de l'équipe</a></li>
				</ul>
			</li>
			<li class="current span2"><a href="/classement">Classement</a></li>
			<li class="span2"><a href="/chat-general">Chat</a></li>
		</ul>
	</nav> <!-- #main-navigation -->
	
	<form id="LogoutForm" class="logoutform" action="/" method=POST>
		<input type=hidden name="_method" value="delete"/>
		<div> Bonjour <%= username %></div>
		<input type="submit" value="Retourner chez les vivants ?" align=right>
	</form>

<div id="content" role="main" class="span12">

	<h1 class="entry-title" align=center>
		Classement des joueurs
	</h1>
	
	<!-- Classement -->
		<div class="span12">
			<table class="row">
				<thead class="classementHead">
					 <tr>
						<th><a href="/classement/0">Joueurs</a></th>
						<th><a href="/classement/1">Nombre de meurtres</a></th>
						<th><a href="/classement/2">Nombre de fois tués</a></th>
						<th><a href="/classement/3">Nombre de goules tuées</a></th>
						<th><a href="/classement/4">Score par meurtres</a></th>
						<th><a href="/classement/5">Score par ODD</a></th>
					</tr>
				</thead>
				<tbody class="classement" id="listUsers">
				
				</tbody>
			</table>
		</div>
	
	<!-- #Classement -->
</div> <!-- #content -->

</div> <!-- #main -->

	<footer id="footer">
	
	</footer> <!-- #footer -->

		<!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<script>
			window.jQuery || document.write('<script src="view/js/jquery-1.7.2.min.js"><\/script>')
		</script>

		<!-- Script nécessaires pour le serveur -->
		<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>


		<script>
			/*********** EVENEMENTS LORS DE RECEPETION D'UNE COMMUNICATION SERVEUR -> CLIENT **************/
			//var socket = io.connect('http://192.168.0.24:25536');
			var socket = io.connect('http://localhost:25536');
				
			$( document ).ready(function()
			{
				socket.emit('INFO_USER_CS', '<%= sessionID %>', '<%= username %>', "classement", <%= order %>);
			});
			
			socket.on('CLASSEMENT_SC', function(listScore)
			{
				echo "get classement"
				for(var i in listScore)
				{
					var maChaine = "<tr>";
					maChaine += "<td>" + listScore[i].pseudo + "</td>";
					maChaine += "<td>" + listScore[i].nbrMeurtres + "</td>";
					maChaine += "<td>" + listScore[i].nbrFoisTue + "</td>";
					maChaine += "<td>" + listScore[i].nbrGoulesTues + "</td>";
					maChaine += "<td>" + listScore[i].scoreByMeutre + "</td>";
					maChaine += "<td>" + listScore[i].scoreByODD + "</td>";
					maChaine += "</tr>";
					$("#listUsers").prepend(maChaine);
				}
			});
			
			socket.on("DECONEXION_SC", function(msg)
			{
				alert(msg);
				$.post("/", { _method: "delete" }, function()
				{
					document.location = "/";
				});
			});
		</script>
</body>
</html>
