<!DOCTYPE html>
<html class="no-js">
	<head>
		<title>Zomb'IstiA - Comfirmation</title>

	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="../public/bootstrap/css/bootstrap-modal-bs3patch.css" rel="stylesheet">

		<link href="../public/bootstrap/css/bootstrap.css" rel="stylesheet">
		<link href="../public/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
		<link href="../public/bootstrap/css/bootstrap-modal.css" rel="stylesheet">

	</head>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="/view/js/jquery-1.7.2.min.js"><\/script>')</script>

	<script src="/socket.io/socket.io.js"></script>
	<script src="../public/bootstrap/js/bootstrap.min.js"></script>

<body>

<div class="col-md-5">

		<a class="navbar-brand navbar-fixed-top  col-md-2" href="#image_test" style="margin-top:-3%;margin-left:-2%;" ><img src="../public/images/LOGO.png" width="200" height="200" ></a>
		</div>
		<nav style="border-bottom-left-radius: 50px" class="navbar navbar-inverse col-md-offset-5 col-md-7 navbar-fixed-top" role="navigation">

			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>

				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

					<form class="navbar-form navbar-left" action="/" method="post" style="margin-left:5%;">

						<div class="form-group">
					 		<input name="username" type="text" class="form-control" placeholder="Login"/>
					 		<input name="password" type="password" class="form-control" placeholder="Mot de passe"/>
						</div>
						<input name="submit" type="submit" value="Connexion" class="btn btn-danger"/>
					</form>

					<a href="#responsive" data-toggle="modal" class="navbar-text navbar-right navbar-link" style="color:#FF0000; text-decoration:underline;">Rejoignez-nous</a>

				</div>
			</div>
		</nav>

<div class="container">

	
			<div calss="row " style="margin-top:5%;">	
					
						<div class="col-md-12 " style="background-color: rgba(161, 161, 161, 0.4); ;padding-left : 2%;padding-right : 2%;padding-bottom:2%;padding-top:2%;margin-left:5%;margin-bottom:1%;border-radius:15px;">
							
							<h1 align="center" style="margin-top:0px;"><b>Un pas en enfer...  !</b></h1>

							<h1 class="entry-title" align=center>TEST CONFIRMATION COMPTE</h1>
		<!-- options["reponse"] -->
						</div>
			</div>
</div>

	<hr style="margin-left:10%;margin-right:10%;">

			<footer style="margin-left:15%;">
			<p>&copy; Company 2014</p>
			</footer> <!-- #footer -->

		<!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
		


		
</body>
</html>
