<html>
	<head>
		<title>Contact</title>
		
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link href="/view/style.css" rel="stylesheet" type="text/css" media="screen" />
		
		<!-- Script nécessaires pour le Header -->
		<script src="/view/Scripts/jQuery_Base.js" type="text/javascript"></script>
		<script src="/view/Scripts/animation.js" type="text/javascript"></script>
		<script src="/view/Scripts/headerCode.js" type="text/javascript"></script>
	</head>
	<body>
		<div id="container">
			<ul id="nav">
				<li><a href="/">Acceuil</a></li>
				<li><a href="jeu">Jeu</a></li>
				<li><a href="classement">Classement</a></li>
				<li><a href="contact">Contact</a></li>
			</ul>
		</div>
	</body>
</html>