<!DOCTYPE html>
<head>
		<meta charset="utf-8" />
		<title>Développement v0.1</title>
		<script type="text/javascript" src="../model/server.js"></script>
		<script type="text/javascript" src="easeljs-0.7.0.min.js"></script>
		<script type="text/javascript" src="http://code.createjs.com/preloadjs-0.2.0.min.js"></script>
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
		<script type="text/javascript" src="/socket.io/socket.io.js"></script>
		<script>
			var createjs = window;
		</script>
		<script type="text/javascript" src="Button.js"></script>
		<script type="text/javascript" src="flo.js"></script>
</head>
<canvas id="myCanvas" width="700" height="500" style="border:1px solid #000000;">
	
</canvas>