<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Jeu</title>
		
		<link href="/view/style.css" rel="stylesheet" type="text/css" media="screen" />
			
		
		<!-- Script nécessaires pour le canvas -->
			<script>
			var createjs = window;
		</script>
		
		
		<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script type="text/javascript" src="http://code.createjs.com/preloadjs-0.2.0.min.js"></script>
		<script type="text/javascript" src="http://code.createjs.com/createjs-2013.09.25.min.js"></script>
		
		<script type="text/javascript" src="/view/easeljs-0.7.0.min.js"></script>
			
		<script type="text/javascript" src="/view/Button.js"></script>
		<script type="text/javascript" src="/view/canvas_uptodate.js"></script>
		
		<!-- Script nécessaires pour le Header -->
		<script src="/view/Scripts/jQuery_Base.js" type="text/javascript"></script>
		<script src="/view/Scripts/animation.js" type="text/javascript"></script>
		<script src="/view/Scripts/headerCode.js" type="text/javascript"></script>
	</head>
	<body>
		<div id="container">
			<ul id="nav">
				<li><a href="/">Acceuil</a></li>
				<li><a href="jeu">Jeu</a></li>
				<li><a href="classement">Classement</a></li>
				<li><a href="contact">Contact</a></li>
			</ul>
			
			<table align=center id="containerJeuRegles">
				<tr>
					<td align=center id="afficherJeu">Jeu</td>
					<td align=center id="afficherRegles">Règles</td>
				</tr>
			</table>
			<br>
			<div id="airDeJeu" align=center>
				<canvas id="myCanvas" width="1024" height="640" style="border:1px solid #FFFFFF;">
				
				</canvas>
			</div>
			<div id="reglesDuJeu" align=center>
				<h2>Règles du jeu</h2>
				<p>
					- Le personnage dispose d'un quota de points d'actions par jour (non cumulable).<br>
					- Certaines actions coûtent des points d'actions au joueur.<br>
					- Certaines actions coûtent des points d'actions au joueur.<br> 
					- Le personnage se déplace de cases en cases sans utiliser de points d'actions, mais points de déplacement.<br>
					- Chaque case est différente. Une description sera affichée afin que le joueur s'imagine la salle <br>
						(nombre de meubles, description visuelle, probabilité d'être découvert quand il est caché, probabilité de découvrir un objet). <br>
					- Le personnage dispose d'une barre de vie. Si elle tombe à zéro...<br>
					- Le personnage peut avoir plusieurs objets sur lui (mais en nombre limité par leurs poids).<br>
					- Le personnage peut attaquer d'autres joueurs de l'équipe adverse.<br>
					- Le personnage peut se mettre en "fouille". Dès lors, il à une probabilité de trouver un objet toutes les heures. <br>
						La probabilité varie en fonction de la salle. Le joueur peut se déconnecter tout en restant en "fouille".<br>
					- Chaque équipe dispose d'une salle "de repos", où le joueur est intouchable.<br>
					- Les personnages  ne peuvent aller dans les salles de repos adverses.<br>
					- Chaque jour, des goules apparaissent aléatoirement dans les salles (sauf salles de repos).<br>
					- Plus le temps passe, plus les goules seront nombreux.<br>
					- Un joueur peut se cacher dans une salle. La probabilité qu'il soit découvert lors d'une fouille dépend des objets de la salle.<br>
					- Les statistiques du joueur ne seront pas affichées, ainsi que son pseudo (mais visibilité dans l'équipe).<br>
					- Le joueur peut s'équiper d'une arme d'attaque pour augmenter ses points de dégâts.<br>
					- Le joueur peut s'équiper d'une armure pour augmenter ses points de défense.<br>
					- Si un joueur se cache dans une salle occupé par des goules, il a une probabilité de se faire attaquer avant de se cacher et une autre probabilité (plus faible) que sa cache rate.<br>
					- Les déplacements dans une case peuvent être limités à cause du nombre important de goules.<br>
				<p>
			</div>
		</div>

		<!-- -------------------- CODE JAVASCRIPT ----------------- -->

		<script>
			/*********** A LA FIN DU CHARGEMENT DE LA PAGE **************/
			$(document).ready(function()
			{
				$('#reglesDuJeu').hide();
			});
			
			/*********** EVENEMENTS LORS DE RECEPETION D'UNE COMMUNICATION SERVEUR -> CLIENT **************/
			var socket = io.connect('http://localhost:8080');

			/*
			 * RECEPTION DU NOUVEL ID SALLE DU PERSONNAGE
			 */
			socket.on('MOVE_PERSONNAGE_SC', function(currentCase) {
				if (currentCase == "ERREUR_CASE")
					insereMessage("CLIENT : nom salle = " + "ERREUR_CASE");
				else if (currentCase == "ERREUR_MOVE")
					insereMessage("CLIENT : nom salle = " + "impossible d'aller par là !");
				else {
					insereMessage("CLIENT : nom salle = " + currentCase.nom);
					modifieIdSalle(currentCase.nom, currentCase.id);
				}
			});

			/*
			 * RECEPTION D'UN REPONSE POUR LA DEMANDE DE MODIF
			 * D'OBJET DANS LA CASE
			 */
			socket.on('INV_CASE_SC', function(type, id_item, codeRetour) {
				if (type == 'RAMASSER') {
					// erreur
					if (codeRetour == -3) {
						insereMessage("Erreur inconnue");
					}
					// poids insufisant
					else if (codeRetour == -1) {
						insereMessage("Impossible de ramasser l'objet : poids max atteint");
					}
					// objet pas dans case
					else if (codeRetour == -2) {
						insereMessage("L'objet " + id_item + " n'est plus dans la salle ");
					}
					// ramassage ok
					else {
						insereMessage("Objet ramassé ! ");

						// modifier l'ihm : inventaire du perso et inventaire de case
					}

				}
			});

			/*
			 * RECEPTION DES INFORMATIONS SUR LA CASE
			 */
			socket.on('INFO_CASE_SC', function(currentCase) {
				if (currentCase == "ERREUR_CASE")
					insereMessage("CLIENT :: nom case = " + "ERREUR_CASE");
				else {
					insereMessage("CLIENT :: nom case = " + currentCase.nom);
					insereMessage("****LISTE DES OBJETS DE LA CASE ****");
					for (var i = 0; i < currentCase.listeItem.length; i++) {
						insereMessage(" Objet id = " + currentCase.listeItem[i].id + " - " + currentCase.listeItem[i].nom);
					}
					insereMessage("************************************");
				}
			});

			/*
			 * RECEPTION DES INFORMATIONS SUR LE PERSONNAGE
			 */
			socket.on('INFO_PERSONNAGE_SC', function(currentPerso) {
				insereMessage("****LISTE DES OBJETS  DU PERSO (" + currentPerso.sacADos.length + ")****");
				for (var i = 0; i < currentPerso.sacADos.length; i++) {
					insereMessage(" Objet id = " + currentPerso.sacADos[i].id + " - " + currentPerso.sacADos[i].nom);
				}
				insereMessage("************************************");
			});

			/******** EVENEMENTS LORS DE L'APPUI SUR UN BOUTON ************/
			$('#MOVE_LEFT').click(function() {
				insereMessage("CLIENT : go gauche");
				socket.emit('MOVE_PERSONNAGE_CS', 'EST');
			});
			$('#MOVE_RIGHT').click(function() {
				socket.emit('MOVE_PERSONNAGE_CS', 'OUEST');
			});
			$('#MOVE_TOP').click(function() {
				socket.emit('MOVE_PERSONNAGE_CS', 'NORD');
			});
			$('#MOVE_BOTTOM').click(function() {
				socket.emit('MOVE_PERSONNAGE_CS', 'SUD');
			});
			$('#INFO_CASE').click(function() {
				socket.emit('INFO_CASE_CS');
			});
			$('#INFO_PERSONNAGE').click(function() {
				socket.emit('INFO_PERSONNAGE_CS');
			});
			$('#RAMASSER_OBJET').click(function() {
				// exemple : ramsser l'objet d'id 2
				socket.emit('INV_CASE_CS', "RAMASSER", 2);
			});

			/******** FONCTIONS MODIFIANT L'IHM ************/
			/*
			 * Modifie l'id de la salle
			 */
			function modifieIdSalle(nomCase, idCase) {
				$('#zone_idSalle').text("id salle : " + idCase + " - nom salle : " + nomCase);
			}

			/*
			 * Insere un message dans la zone "zone log"
			 */
			function insereMessage(message) {
				$('#zone_log').prepend(message + "<br>");
			}
			
			/******** FONCTIONS MODIFIANT LA PAGE ************/
			
			$('#afficherJeu').click(function()
			{
				$('#reglesDuJeu').hide(100, function()
				{
				$('#airDeJeu').show(100);
				});
			});
			
			$('#afficherRegles').click(function()
			{
				$('#airDeJeu').hide(100, function()
				{
				$('#reglesDuJeu').show(100);
				});
			});

		</script>

	</body>
</html>
