<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Jeu</title>
		
		<link href="/view/style.css" rel="stylesheet" type="text/css" media="screen" />
			
		<script src="../model/server.js"></script>
		<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>

		<script type="text/javascript" src="http://code.createjs.com/preloadjs-0.2.0.min.js"></script>
		
		
		<script>
			var createjs = window;
		</script>
		
		<script type="text/javascript" src="/view/easeljs-0.7.0.min.js"></script>
		<script type="text/javascript" src="/view/Button.js"></script>
		<script type="text/javascript" src="/view/flo.js"></script>
		
		<!-- Script nécessaires pour le Header -->
		<script src="/view/Scripts/jQuery_Base.js" type="text/javascript"></script>
		<script src="/view/Scripts/animation.js" type="text/javascript"></script>
		<script src="/view/Scripts/headerCode.js" type="text/javascript"></script>
	</head>
	<body>
		<div id="container">
			<ul id="nav">
				<li><a href="/">Acceuil</a></li>
				<li><a href="jeu">Jeu</a></li>
				<li><a href="classement">Classement</a></li>
				<li><a href="contact">Contact</a></li>
			</ul>
			
			<table align=center id="containerJeuRegles">
				<tr>
					<td align=center id="afficherJeu">Jeu</td>
					<td align=center id="afficherRegles">Règles</td>
				</tr>
			</table>
			<br>
			<div id="airDeJeu" align=center>
				<canvas id="myCanvas" width="700" height="500" style="border:1px solid #FFFFFF;">
					
				</canvas>
			</div>
			<div id="reglesDuJeu" align=center>
				<h2>Règles du jeu</h2>
				<p>
				
				
				<p>
			</div>
		</div>

		<!-- -------------------- CODE JAVASCRIPT ----------------- -->

		<script>
			/*********** A LA FIN DU CHARGEMENT DE LA PAGE **************/
			$(document).ready(function()
			{
				$('#reglesDuJeu').hide();
			});
			
			/*********** EVENEMENTS LORS DE RECEPETION D'UNE COMMUNICATION SERVEUR -> CLIENT **************/
			var socket = io.connect('http://localhost:8080');

			/*
			 * RECEPTION DU NOUVEL ID SALLE DU PERSONNAGE
			 */
			socket.on('MOVE_PERSONNAGE_SC', function(currentCase) {
				if (currentCase == "ERREUR_CASE")
					insereMessage("CLIENT : nom salle = " + "ERREUR_CASE");
				else if (currentCase == "ERREUR_MOVE")
					insereMessage("CLIENT : nom salle = " + "impossible d'aller par là !");
				else {
					insereMessage("CLIENT : nom salle = " + currentCase.nom);
					modifieIdSalle(currentCase.nom, currentCase.id);
				}
			});

			/*
			 * RECEPTION D'UN REPONSE POUR LA DEMANDE DE MODIF
			 * D'OBJET DANS LA CASE
			 */
			socket.on('INV_CASE_SC', function(type, id_item, codeRetour) {
				if (type == 'RAMASSER') {
					// erreur
					if (codeRetour == -3) {
						insereMessage("Erreur inconnue");
					}
					// poids insufisant
					else if (codeRetour == -1) {
						insereMessage("Impossible de ramasser l'objet : poids max atteint");
					}
					// objet pas dans case
					else if (codeRetour == -2) {
						insereMessage("L'objet " + id_item + " n'est plus dans la salle ");
					}
					// ramassage ok
					else {
						insereMessage("Objet ramassé ! ");

						// modifier l'ihm : inventaire du perso et inventaire de case
					}

				}
			});

			/*
			 * RECEPTION DES INFORMATIONS SUR LA CASE
			 */
			socket.on('INFO_CASE_SC', function(currentCase) {
				if (currentCase == "ERREUR_CASE")
					insereMessage("CLIENT :: nom case = " + "ERREUR_CASE");
				else {
					insereMessage("CLIENT :: nom case = " + currentCase.nom);
					insereMessage("****LISTE DES OBJETS DE LA CASE ****");
					for (var i = 0; i < currentCase.listeItem.length; i++) {
						insereMessage(" Objet id = " + currentCase.listeItem[i].id + " - " + currentCase.listeItem[i].nom);
					}
					insereMessage("************************************");
				}
			});

			/*
			 * RECEPTION DES INFORMATIONS SUR LE PERSONNAGE
			 */
			socket.on('INFO_PERSONNAGE_SC', function(currentPerso) {
				insereMessage("****LISTE DES OBJETS  DU PERSO (" + currentPerso.sacADos.length + ")****");
				for (var i = 0; i < currentPerso.sacADos.length; i++) {
					insereMessage(" Objet id = " + currentPerso.sacADos[i].id + " - " + currentPerso.sacADos[i].nom);
				}
				insereMessage("************************************");
			});

			/******** EVENEMENTS LORS DE L'APPUI SUR UN BOUTON ************/
			$('#MOVE_LEFT').click(function() {
				insereMessage("CLIENT : go gauche");
				socket.emit('MOVE_PERSONNAGE_CS', 'EST');
			});
			$('#MOVE_RIGHT').click(function() {
				socket.emit('MOVE_PERSONNAGE_CS', 'OUEST');
			});
			$('#MOVE_TOP').click(function() {
				socket.emit('MOVE_PERSONNAGE_CS', 'NORD');
			});
			$('#MOVE_BOTTOM').click(function() {
				socket.emit('MOVE_PERSONNAGE_CS', 'SUD');
			});
			$('#INFO_CASE').click(function() {
				socket.emit('INFO_CASE_CS');
			});
			$('#INFO_PERSONNAGE').click(function() {
				socket.emit('INFO_PERSONNAGE_CS');
			});
			$('#RAMASSER_OBJET').click(function() {
				// exemple : ramsser l'objet d'id 2
				socket.emit('INV_CASE_CS', "RAMASSER", 2);
			});

			/******** FONCTIONS MODIFIANT L'IHM ************/
			/*
			 * Modifie l'id de la salle
			 */
			function modifieIdSalle(nomCase, idCase) {
				$('#zone_idSalle').text("id salle : " + idCase + " - nom salle : " + nomCase);
			}

			/*
			 * Insere un message dans la zone "zone log"
			 */
			function insereMessage(message) {
				$('#zone_log').prepend(message + "<br>");
			}
			
			/******** FONCTIONS MODIFIANT LA PAGE ************/
			
			$('#afficherJeu').click(function()
			{
				$('#reglesDuJeu').hide(100, function()
				{
				$('#airDeJeu').show(100);
				});
			});
			
			$('#afficherRegles').click(function()
			{
				$('#airDeJeu').hide(100, function()
				{
				$('#reglesDuJeu').show(100);
				});
			});

		</script>

	</body>
</html>
