body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, input, textarea, blockquote
{
	margin: 0;
	padding: 0;
	border: 0;
}

body
{
	background: url(images/noise.png);
	color:white;
}

#container
{
	height: 800px;
	background: url(images/monBg.jpg) center top no-repeat;
}

#cadreLogin
{
	width:700px;
	height:40px;
	margin:auto auto;
	line-height: 10px;
	border:2px inset #000000;
}

ul#nav
 {
	width: 700px;
	margin: 0 auto;
	text-align: center;
}
ul#nav li 
{
	float: left;
}
ul#nav li a 
{
	display: block;
	width: 97px;
	height: 77px; 
	padding: 72px 0 0 0;
	margin: 0 32px 0 32px;
	font: bold 16px Helvetica, Arial, Sans-Serif;
	text-transform: uppercase;
	color: #9c5959;
	text-shadow: 0 1px 3px #c4bda6;
	text-decoration: none;
	background: url(images/label.png) 0 -149px no-repeat; 
}
		
ul#nav li a:hover
 {
	background: url(images/label.png) 0 0 no-repeat;
	color: #eee9d9;
	text-shadow: 0 2px 3px #4c2222;
}
		
ul#nav li a.js:hover
 {	
	background: url(images/label.png) 0 -149px no-repeat;
}

ul#nav
 {
	width: 700px;
	margin: 0 auto;
	text-align: center;
	overflow: hidden;
}

#containerJeuRegles
{
	width: 700px;
	margin: 0 auto;
	text-align: center;
	color:#000000;
	background:#FFFFFF;
}

table, tr, td
{
	border:1px solid black;
}

td#afficherJeu, td#afficherRegles
{
	width:50%;
}

td#login
{
	margin:auto auto;
}

#zone_log
{
	margin:auto auto;
	text-align: center;
}