	<!DOCTYPE html>

	<html>
		<head>
			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

			<link href="../public/bootstrap/css/bootstrap.css" rel="stylesheet">

		    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
			<script>
				window.jQuery || document.write('<script src="view/js/jquery-1.7.2.min.js"><\/script>')
			</script>

			<!-- Script nécessaires pour le serveur -->
			<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
			<script src="/socket.io/socket.io.js"></script>
			
			<title>Zomb'IstiA - Tutoriel</title>
		</head>
		<body >

		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
				<div class="container-fluid">
		        	<div class="navbar-header">
		         		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-2">
			            	<span class="sr-only">Toggle navigation</span>
			            	<span class="icon-bar"></span>
			            	<span class="icon-bar"></span>
			            	<span class="icon-bar"></span>
		          		</button>
		          		<a class="navbar-brand" href="#">Zomb'IstiA</a>	
		        	</div>
		        	<div class="collapse navbar-collapse" id="navbar-collapse-2">
		          		<ul class="nav navbar-nav pull-right navb">
		            		<li class="navbar-text" id="HeureServeur" > </li>
		            		<li class="navbar-text" > Prochaine attaque à : <%= heureAttaque.toLocaleTimeString() %> </li>


		            		<!--<form action="/" method="post" class="btn"><button type="submit" class="navbar-btn btn btn-danger"  value="Retour chez les vivants ?!" style="margin-top:0px;">Retour chez les vivants</button></form>-->
		            		<li>
			            		<form action="/" method="post" class="btn">
			            			<input type="hidden" name="_method" value="delete"/>
			            			<button type="submit" class="navbar-btn btn btn-danger"  value="Retour chez les vivants ?!" style="margin-top:0px;">Retour chez les vivants</button>
			            		</form>
		            		</li>


		          		</ul>
		        	</div><!--/.nav-collapse -->
		     	</div>
		    </nav>
		    <div class="container-fluid">
		    	<div class="row">
			    	<div class="col-md-2 sidebar" >

	    		<ul class="nav nav-sidebar nav-pills nav-stacked ">
	    			<li><a href="/">Accueil</a></li>
	    		
					<li class="divider"><hr/></li>
	    			
	    			<li ><a href="/regles">Règles</a></li>
	    			<li class="nav-sidebar active"><a href="/tutoriel">Tutoriel</a></li>
	    		
	    			<li class="divider"><hr/></li>
	    			<li><a href="/jeu#les_scores">Jeu</a></li>
	    			<li><a href="/chat-general">Tchats</a></li>
	    		
	    			<li class="divider"><hr/></li>
	    			<li><a href="/classement">Classement</a></li>
	    		</ul>


			    	</div>

		    		<div class="col-md-10 col-md-offset-2 col-sm-offset-2" >
		    			<div style="background-color: rgba(161, 161, 161, 0.7); ;padding-left : 4%;padding-right:2%;padding-top:2%;padding-bottom:2%;margin-bottom:1%;margin-top:1% ;border-radius:15px; ">

		    				<h1 class="entry-title" align=center> Tutoriel </h1>
				
				<!-- Règles -->
				<!-- ***************** PRESENTATION DU JEU ************** -->
				<p>
					<b>Bienvenue à vous, noble survivant !</b> Si vous êtes ici, c’est que vous avez sûrement lu la page des règles du jeu. 
					<br>Si ce n’est pas le cas, nous vous invitons à y jeter un œil avant de commencer. 
					<br>Sur cette page de tutoriel, vous trouverez de nombreuses informations sur la façon de jouer à Zomb’IstiA. Voici les différents points que nous aborderons au cours de ce tutoriel.
				</p>
				<!-- Colonne de gauche -->
				<div  align="justify" style="width:50%; float:left; padding:10px;">
					<h3>Les personnages</h3>
					<p>
						Avant tout, il faut que vous choisissiez de rejoindre une des trois équipes existantes. 
						<br>Les <b>AGI</b> sont souvent à la pointe de la technologie, et plutôt réfléchis. 
						<br>Les <b>INNO</b> sont souvent pleins de bonnes idées, et très sociables.
						<br>Les <b>QSF</b> privilégient la qualité et ont des méthodes infaillibles pour arriver à leur but.
						
						<br>Vous devez ensuite enseigner une compétence à votre personnage. Essayons de voir quels sont les points forts et les points faibles de chaque compétence :
						<br>
						<br>•	<b>Brute</b> : Ses points forts sont l'attaque et la defense. Ses points faibles sont la fouille et la cache, ainsi que le nombre de zombie qui l'empéchera de faire des actions.
						<br>•	<b>Chercheur </b>: Son point fort est la fouille. Ses points faibles sont l'attaque et la défense.
						<br>•	<b>Explorateur</b> : Ses points forts sont la cache, les déplacements, et le faible nombre de zombies qui l'empécheront de faire des actions. Ses points faibles sont l'attaque et la défense.
						<br>
						<img src="public/spritesheets/persos/Brute96.png" style="margin-right:20%; max-width:100%; height: auto;"/>
						<img src="public/spritesheets/persos/Chercheur96.png" style="margin-right:20%; max-width:100%; height: auto;"/>
						<img src="public/spritesheets/persos/Explorateur96.png" style="max-width:100%; height: auto;"/>
					</p>
				</div>

				<!-- Colonne de droite -->
				<div  align="justify" style="width:50%; float:left; padding:10px;">
					<h3>Les items</h3>
					<p>
						De nombreux items sont présents dans l’univers de Zomb’IstiA. Vous pouvez découvrir 5 types d’items dans ce jeu :
						<br>•	<b>Armes</b> <img src="public/spritesheets/arme/101.png" /> : Elles procurent des points d’attaque supplémentaires à votre personnage s'il en est équipé.
						<br>•	<b>Armures</b> <img src="public/spritesheets/armure/201.png" /> : Elles procurent des points de défense supplémentaires à votre personnage s'il en est équipé.
						<br>•	<b>Potions</b> : En consommer reboostera l’état de votre personnage, en fonction de la couleur.
								<br> <img src="public/spritesheets/potionSoin/400.png" /> = Points de vie
								<br> <img src="public/spritesheets/potionAction/500.png" /> = Points d’action
								<br> <img src="public/spritesheets/potionMouvement/600.png" /> = Points de déplacement
						<br>•	<b>Nourriture</b> <img src="public/spritesheets/nourriture/702.png" /> : En consommer permet à votre personnage de rester en forme.
						<br>•	<b>Objets de défense</b> <img src="public/spritesheets/odd/301.png" /> : Ces items sont rares et bien cachés. Vous devez les ramasser et les déposer dans la zone sûre de votre équipe pour marquer des points.
						<br><br><i>Remarque : Souvent, plus un item est lourd, plus il a de valeur.</i>
						<br><br><br><br>
					</p>
				</div>
				<!--  ********** ACTION DE JEU ************-->
				<hr>
				<h1>Le plateau de jeu</h1>
					<p> Le cœur de l’action de Zomb’IstiA se situe sur le plateau de jeu. Il est accessible depuis l’onglet JEU du site. Voyons donc comment s’en servir...
						<br>Ce plateau est rempli d’informations qui sont sont précieuses si vous et votre équipe et ton équipe souhaitez remporter la victoire !
					</p>
					
				<!-- Colonne de gauche -->
				<div  align="justify" style="width:50%; float:left;padding:10px;">
					<h3>Les informations du personnage</h3>
					<p>
						En bas à gauche, nous trouvons les informations concernant votre personnage dans le jeu. Elles vous indiquent en temps réel l’état de votre personnage. 
						<br><br>
						<img src="public/tuto/descriptionPerso.png" style="max-width:100%; height: auto"/>
						<br><br>
						Que ce soit les points de vie (vert), de faim (violet), d’action (rouge) ou de mouvement (bleu), le poids de votre sac (orange), toutes ces jauges vous seront bien utiles. 
						Vous pouvez également voir en temps réel les points d’attaque et de défense de votre personnage en fonction des items équipés et du mode dans lequel il se trouve (cf. Modes). Ces points sont indiqués par des petits voyants de couleur (un voyant équivaut à 2 points). Pour ces voyants, il existe différents niveaux de couleur. Le vert est le premier niveau, ensuite vient le orange, puis le rouge.
						Toutes ces informations sont visibles directement. Cependant, si vous passez votre souris sur les icônes à côté de chaque indicateur, une information plus précise vous sera dévoilée.
						Dans les informations de votre personnage, apparaisent également deux jauges supplémentaires, indiquant la probabilité de vous cacher sans être découvert par l'ennemi, ainsi que la probabilité de trouver un objet dans la case dans laquelle vous vous trouvez.
						
						<br><br><i>Remarque : les probabilités de cache et de trouver un item dans la salle sont automatiquement calculés en fonction des bonus multiplicateurs de ton personnage.</i>
						
						<br><br>Vous pouvez également voir deux emplacements réservés à l'équipement de votre personnage, un pour l'arme, et l'autre pour l'armure. Il vous sera possible de sélectionner un équipement et de s'en déséquiper à votre guise.
						
						<br><br>En parlant d’items, vous pouvez interagir votre inventaire (équiper, consommer ou déposer des items). Votre sac est trié en fonction du type d'objet qu'il contient. 

						<br><br>Lorsque vous cliquez sur un item, celui-ci est sélectionné et un petit carré rouge apparaissanr sur l'item vous le confirme.
						
						<br><br>Afin d'afficher les informations d'un item, il vous suffit de passer votre souris dessus.
					</p>
					<h3>Les modes</h3>
					<p>
						A quoi servent les modes ? Pour faire simple, chaque fois que vous souhaitez vous déconnecter ou faire une pause, nous vous conseillons de mettre votre personnage dans un des modes suivant :

						<br><br>•	Mode <b>Fouille</b> : En passant en mode fouille, votre personnage aura une probabilité de trouver un (ou plusieurs) items toutes les heures. Mais attention, il pourrait se faire attaquer pendant ce temps...

						<br><br>•	Mode <b>Cache</b> : En passant en mode caché, votre personnage aura une probabilité de ne pas être découvert par un ennemi, en fonction de la probabilité de cache de la case. S’il n'est jamais découvert, soyez heureux, sinon, l’ennemi qui l'a découvert, ainsi que tous les autres sont libres de l’attaquer…

						<br><br>•	Mode <b>Défense</b> : En passant en mode défense, votre personnage verra ses points d’attaque et de défense augmentés, et ce, jusqu’à ce que vous vous reconnectez ! Cependant, attention, ce n’est pas pour autant qu'il est invincible…

						<br><br>Afin de changer de mode, il vous suffit de cliquer sur l’un des trois boutons ci-dessous.
						<br><br>
						<img src="public/Boutons/FouilleRed.png" style="max-width:100%; height: auto; margin-right:5%;"/>
						<img src="public/Boutons/CacheRed.png" style="max-width:100%; height: auto; margin-right:5%;"/>
						<img src="public/Boutons/DefenseRed.png" style="max-width:100%; height: auto; margin-right:5%;"/>
						<br><br>
						Au lieu du rouge, le voyant du mode actif devient vert.

						<br><br><i>Remarque: Chaque action ou déplacement pendant que votre personnage est dans un mode le fera sortir de celui-ci.</i>
						<br><br>
					</p>
				</div>
				
				<!-- Colonne de droite -->
				<div align="justify" style="width:50%; float:left;padding:10px;">
					<h3>Les informations de la case</h3>
					<p>
						Il faut savoir que les informations concernant la case dans laquelle se situe votre personnage, sont placées en haut à gauche du plateau de jeu. Vous êtes ainsi renseigné en temps réel de toute présence vivante ou mort-vivante
						 (nombre d’alliés, d’ennemis et de zombies dans la case).
						 <br><br>
						 <img src="public/tuto/case.png" style="max-width:100%; height: auto; margin-left:20%"/>
						 <br><br>
					</p>
					<h3> Les autres joueurs et les zombies</h3>
					<p>
						Mais, les autres personnages qui sont dans la même case que vous, comment les voir ? Ne paniquez pas, vous n’êtess jamais tout seul à l’IstiA !

						<br><br>Pour savoir si il y a un personnage (ou plus) dans la case, regardez le voyant du bouton JOUEURS, il vous l'indiquera par sa brillance.
						
						En cliquant sur ce bouton, vous pouvez voir vos Alliés et vos Ennemis présents dans la case ! Il vous suffit alors de passer la souris sur un personnage pour visualiser les informations propres à chacun. 
						
						<br><br>La description d’un allié est bien entendu plus précise que celle d’un ennemi. En effet, seul les pseudonymes de vos alliés vous sont visibles, de manière à organiser de meilleures stratégies d'équipe, et comme dans la vraie vie, on ne connaît jamais ses adversaires.
						<br><br>
						<img src="public/Boutons/JoueursGris.png" style="max-width:100%; height: auto; margin-right:10%;margin-left:15%;"/>
						 <img src="public/Boutons/Joueurs.png" style="max-width:100%; height: auto; margin-right:10%;margin-left:15%;"/>
						 <br><br>

						Vous avez dit « attaquer » ? Pour attaquer un joueur ennemi, il vous suffit de le sélectionner en cliquant sur son personnage (un carré désigne celui que vous avez choisi), puis de cliquer sur le bouton ATTAQUER (dont le voyant devient bleu lorsqu’un personnage est sélectionné).
						<br><br>
						<img src="public/Boutons/AttaquerGris.png" style="max-width:100%; height: auto; margin-right:10%;margin-left:15%;" />
						 <img src="public/Boutons/Attaquer.png" style="max-width:100%; height: auto; margin-right:10%;margin-left:15%;"/>
						 <br><br>
						
						Une fois l’attaque portée, libre à vous de réattaquer le même ennemi, d'en choisir un autre, ou de recliquer sur le bouton JOUEURS afin de fermer cette page. Ce bouton vous permet d'ouvrir mais également de fermer la page des joueurs, vous n'êtes donc pas obligé d’attaquer un ennemi, même si celui-ci est sélectionné.

						<br><br>Pour attaquer des zombies, c’est un vrai jeu d’enfant, seul un click sur le bouton TUER ZOMBIE(S).
						<br><br>
						<img src="public/Boutons/ZombieGris.png" style="max-width:100%; height: auto; margin-right:10%;margin-left:15%;"/>
						 <img src="public/Boutons/Zombie.png" style="max-width:100%; height: auto; margin-right:10%;margin-left:15%;"/>
						 <br><br>
						
						Son voyant est gris lorsqu’il n’y a pas de zombies dans la case, et bleu lorsqu’il y en a.
					</p>
						<h3>Se déplacer</h3>
						<p>
						N'oublions pas une chose essentielle dans ce jeu, l'<b>exploration</b> ! Pour vous déplacer de case en case dans l’enceinte de l’IstiA, il vous suffit de cliquer sur les flèches directionnelles aux quatre coins de la carte.
						<br><br>
						<img src="public/tuto/Arrows.png" style="max-width:100%; height: auto; margin-left:30%;"/>
						<br><br>
						<i>Remarque : Comme il y a des cases plus grandes que d’autres (couloirs, hall d’accueil, amphithéâtres…) 
							il vous faudra plusieurs points de mouvement afin de les traverser. 
							Cependant, il est possible d’interagir avec les personnages/zombies/items présents dans ces grandes cases.</i>
						<br><br><br><br>
						</p>
				</div>
				<h1>Les messages</h1>
					<p>
						Dans ce jeu, vous recevez un message à chaque fois qu’il se passe quelque chose dans la case où se trouve votre personnage. En dessous du bouton JOUEURS se trouve le bouton MESSAGES.
						<br><br>
						<img src="public/Boutons/MessagesGris.png" style="max-width:100%; height: auto; margin-right:3%;"	/>
						<img src="public/Boutons/MessagesVide.png" style="max-width:100%; height: auto; margin-right:3%;"/>
						<img src="public/Boutons/Messages.png" style ="max-width:100%; height: auto;"/>
						<br><br>
						Lorsque vous n'avez aucun message, le voyant du bouton est gris. Lorsqu’un nouveau message arrive, le voyant passe au jaune vif, et un nombre de messages non lus s’affiche à côté du bouton. 
						Lorsque vous avez lu vos nouveaux messages, le voyant devient devient moins vif.
						
						<br><br>Afin de visualiser vos messages, vous pouvez cliquer sur ce bouton, une page s’ouvre alors par-dessus la carte, affichant chaque message, du plus récent au plus ancien. Vous pouvez également faire défiler les messages de page en page, afin de relire l’historique de vos messages. Pour fermer cette page, c'est le même principe que pour la page JOUEURS.
						
            			<br><br>A chaque fois que vous effectuez une action, un message s’affiche en réponse à cette action. Ces messages sont affichés dans la première ligne de la zone centrale, dans le cadre réservée aux textes. Attention ! Il est important d’être attentif à chaque message de retour et agir en conséquence, car ceux-ci ne restent affichés que 5 secondes !
            			
            			<br>Dans cette zone de texte, s'affichent également le dernier message que vous avez reçu, ainsi que la description de la case.
           
            	<h1>Les tchats</h1>
					<p>
						Afin d'élaborer de meilleures stratégies, vous avez accès à un tchat privé, uniquement ouvert aux membres de votre équipe.
						Sous le plateau de jeu, se trouve une version réduite de ce tchat. 
						<br>Il est également accessible depuis le sous-onglet TCHAT DE L'EQUIPE de l'onglet JEU.
						
						<br><br>Vous avez également accès à un chat général, où tous les joueurs peuvent discuter s'ils le souhaitent.
						<br>Ce tchat est accessible depuis l'onglet TCHAT.
					</p>
				<hr>
				<h1>Bon courage !</h1>
            			<h3 align="center">Vous avez désormais toutes les clés en main pour survivre et mener votre équipe à la <b>victoire</b> !</h3>
            			<br><br>
						<img src="public/images/you.png" style="max-width:100%; height: auto; margin-left:37%;" />
						<br><br>
		    			
		    			</div>
		    		</div>
		    		
		    	</div> 	
		    	
			</div>
			

			<script name="MajHeureLocale">

				var date = new Date("<%= heureLocale %>");
				$("#HeureServeur").text("Heure du serveur : " + date.toLocaleTimeString());

				setInterval(function ()
				{
					date.setSeconds(date.getSeconds() + 1);
					$("#HeureServeur").text("Heure du serveur : " + date.toLocaleTimeString());
				}, 1000);

			</script>
	    </body>

	</html>