	<!DOCTYPE html>

	<html>
		<head>
			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

			<link href="../public/bootstrap/css/bootstrap.css" rel="stylesheet">
			<title>Zomb'IstiA - Tutoriel</title>
		</head>
		<body >

		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
				<div class="container-fluid">
		        	<div class="navbar-header">
		         		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-2">
			            	<span class="sr-only">Toggle navigation</span>
			            	<span class="icon-bar"></span>
			            	<span class="icon-bar"></span>
			            	<span class="icon-bar"></span>
		          		</button>
		          		<a class="navbar-brand" href="#">Notre beau logo</a>	
		        	</div>
		        	<div class="collapse navbar-collapse" id="navbar-collapse-2">
		          		<ul class="nav navbar-nav pull-right navb">
		            		<li class="navbar-text"  >Heure du serveur : 15:45:13</li>
		            		<li class="navbar-text" >Prochaine attaque dans : 00:54:35 </li>
		            		<form action="/" method="post" class="btn"><button type="submit" class="navbar-btn btn btn-danger"  value="Retour chez les vivants ?!" >Retour chez les vivants</button></form>
		          		</ul>
		        	</div><!--/.nav-collapse -->
		     	</div>
		    </nav>
		    <div class="container-fluid">
		    	<div class="row">
			    	<div class="col-md-2 sidebar" >
			    		<ul class="nav nav-sidebar nav-pills nav-stacked ">
			    			<li><a href="/">Accueil</a></li>
			    		
							<li class="divider"><hr/></li>
			    			
			    			<li ><a href="#">Règles</a></li>
			    			<li class="nav-sidebar active"><a href="#">Tutoriel</a></li>
			    		
			    			<li class="divider"><hr/></li>
			    			<li><a href="/jeu">Plateau de jeu</a></li>
			    			<li><a href="#">Chats</a></li>
			    		
			    			<li class="divider"><hr/></li>
			    			<li><a href="#">Classement</a></li>
			    		</ul>

			    	</div>

		    		<div class="col-md-10 col-md-offset-2 col-sm-offset-2" >
		    			<div style="background-color: rgba(161, 161, 161, 0.6); ;padding-left : 4%;padding-right:2%;padding-top:2%;padding-bottom:2%;margin-bottom:1%;margin-top:1% ;border-radius:15px; ">

		    				<h1 class="entry-title" align=center> Tutoriel </h1>
				
				<!-- Règles -->
				<!-- ***************** PRESENTATION DU JEU ************** -->
				<h1></h1>
				<p>
					Bienvenue à toi, noble survivant ! Si tu es ici, c’est que tu as sûrement lu la page des règles du jeu. Si ce n’est pas le cas, nous t’invitons à y jeter un œil avant de commencer. Sur cette page, tu trouveras de nombreuses informations sur la façon de jouer à Zomb’IstiA. Voici les différents points que nous aborderons au cours de ce tutoriel.
				</p>
				<!-- Colonne de gauche -->
				<div style="width:50%; float:left; padding:10px;">
					<h3>Les personnages</h3>
					<p>
						Avant tout, il faut que tu choisisse une équipe entre AGI, INNO ou Qsf,  puis tu dois enseigner une compétence à ton personnage. Essayons de voir quels sont les points forts et les points faibles de chaque compétence :
						<br>•	Brute : Ses points forts sont l'attaque et la defense. Ses points faibles sont la fouille et la cache, ainsi que le nombre de zombie qui l'empéchera de faire des actions.
						<br>•	Explorateur : Ses points forts sont la cache, les déplacements, et le faible nombre de zombie qui l'empécheront de faire des actions. Ses points faibles sont l'attaque et la défense.
						<br>•	Chercheur : Son point fort est la fouille. Ses points faibles sont l'attaque et la défense.
					</p>
					<h3>Se déplacer</h3>
					<p>
						Une fois ton personnage sélectionné, tu peux te déplacer de case en case dans l’enceinte de l’IstiA. Pour cela, il te suffit de cliquer sur les flèches directionnelles aux quatre coins de la carte centrale.
						<br>Remarque : Comme il y a des cases plus grandes que d’autre (couloirs, hall d’accueil, amphithéâtres…) il te faudra plusieurs points de mouvement afin de les traverser. Cependant, il est possible d’interagir avec les personnages/zombies/items présents dans la case.						
					</p>
				</div>

				<!-- Colonne de droite -->
				<div style="width:50%; float:left; padding:10px;">
					<h3>Les items</h3>
					<p>
						De nombreux items sont présents dans l’univers de Zomb’IstiA. Tu peux découvrir 5 types d’items dans ce jeu :
						<br>•	Armes : Elles te procurent des points d’attaque supplémentaires si tu en es équipé.
						<br>•	Armures : Elles te procurent des points de défense supplémentaires si tu en es équipé.
						<br>•	Potions : Lorsque tu consommes une potion, celle-ci reboostera l’état de ton personnage, en fonction de la couleur.
								<br>Potions Vertes = Points de vie
								<br>Potions Rouges = Points d’action
								<br>Potions Bleues = Points de mouvement
						<br>•	Nourriture : Lorsque tu consommes de la nourriture, tu permets à ton personnage de rester en forme.
						<br>•	Items de défense : Ces items sont rares et bien cachés. Tu dois les ramasser et les déposer dans la maison de ton équipe pour marquer des points.
						<br><br>Remarque : Souvent, plus un item est lourd, plus il a de valeur.
					</p>
				</div>
				<!--  ********** ACTION DE JEU ************-->
				<hr>
				<h1>Le plateau de jeu</h1>
					<p> Le cœur de l’action de Zomb’IstiA se situe sur le plateau de jeu. Il est accessible depuis l’onglet JEU du site. Voyons donc comment s’en servir...
						<br>Ce plateau est rempli d’informations qui sont très précieuses si toi et ton équipe souhaitez survivre !
					</p>
					
				<!-- Colonne de gauche -->
				<div style="width:50%; float:left;padding:10px;">
					<h3>Les informations du personnage</h3>
					<p>
						En haut à gauche, nous trouvons les informations concernant ton personnage dans le jeu. Le premier terme désigne sa compétence spéciale. En deuxième position, tu peux trouver le nombre minimum de zombies qui peuvent te bloquent le passage dans une case. Les quatre derniers points sont les bonus multiplicateurs de ton personnage. En effet, selon sa compétence, ses qualités changent, tu peux donc ainsi conserver ces indications en tête.

						<br><br>Au milieu, en haut, se situent d’autres informations concernant ton personnage. Ces informations sont encore plus précieuses que les précédentes, car elles t’indiquent en temps réel l’état de ton personnage. Que ce soit les points de vie (vert), de faim (violet), d’action (rouge) ou de mouvement (bleu), toutes ces jauges te sont bien utiles. Tu peux également voir en temps réel les points d’attaque et de défense de ton personnage en fonction des items équipés et du mode dans lequel se trouve ton personnage (cf. Modes).

						<br><br>En parlant d’items, il est important de toujours avoir un œil sur ton sac, c’est pour cela que tu peux visualiser le contenu de ton inventaire, ainsi que surveiller son poids grâce à la jauge orange. Tu peux interagir avec les items de ton sac, c’est-à dire les consommer, les équiper selon leur type, ou les déposer. Tu peux également interagir avec tes items équipés, en cliquant sur l’item que tu souhaites déséquiper.

						<br><br>Lorsqu’un item est sélectionné (click sur l’item), un cadre jaune se met autour de cet item afin de confirmer ta sélection. Ensuite, tu peux soit l’équiper/déséquiper, le consommer ou le déposer dans la case où tu te trouves.
					</p>
					<h3>Les modes</h3>
					<p>
						A quoi servent les modes ? Pour faire simple, chaque fois que tu souhaites te déconnecter ou faire une pause, nous te conseillons de mettre ton personnage dans un des modes suivant :

						<br><br>•	Mode Fouille : En passant en mode fouille, ton personnage aura une probabilité de trouver un (ou plusieurs) items toutes les heures. Mais attention, tu pourrais te faire attaquer pendant ce temps...

						<br><br>•	Mode Cache : En passant en mode caché, ton personnage aura une probabilité de ne pas être découvert par un ennemi, égale à la probabilité de cache de la case. S’il tu n'es jamais découvert, sois heureux, sinon, l’ennemi qui t'as découvert, ainsi que tous les autres sont libres de l’attaquer…

						<br><br>•	Mode défense : En passant en mode défense, ton personnage voit ses points d’attaque et de défense augmentés, et ce, jusqu’à ce que tu te reconnecte ! Cependant, attention, ce n’est pas pour autant que tu es invincible…

						<br><br>Afin de changer de mode, il suffit de cliquer sur l’un des trois boutons. Ces boutons ont un voyant rouge lorsque le mode n’est pas actif. Par opposition, le voyant du mode actif devient vert.

						<br><br>Remarque: Chaque action ou déplacement pendant que tu es dans un mode, fera sortir ton personnage de son mode.
					</p>
				</div>
				
				<!-- Colonne de droite -->
				<div style="width:50%; float:left;padding:10px;">
					<h3>Les informations de la case</h3>
					<p>
						C’est bien beau de parler des items dans l’inventaire, mais, comment trouver ces items ? Les items sont partout, dans la majorité des salles, mais également à l’extérieur, des items plus qu’intéressants peuvent joncher le sol. Les items à la vue de tout le monde sont affichés dans la fenêtre en bas à droite du plateau de jeu. Tu as également la possibilité de lire le descriptif de chaque item en passant le curseur dessus. Comme les items de ton inventaire, tu peux les sélectionner puis les ramasser (un par un).

						<br><br>Il faut savoir que de nombreuses informations concernant la case dans laquelle se situe ton personnage, sont placées en bas du plateau de jeu

						<br><br>Remarque : les probabilités de cache et de trouver un item dans la salle sont automatiquement calculés en fonction des bonus multiplicateurs de ton personnage.

						<br><br>Tu peux notamment connaître les caractéristiques de la salle, ses avantages et ses points faibles. En plus de cela, tu es renseigné en temps réel de toute présence vivante ou mort-vivante (nombre d’alliés, d’ennemis et de zombies dans la case).
					</p>
					<h3> Les autres joueurs et les zombies</h3>
					<p>
						Nous venons de voir où se situe le nombre d’alliés, d'ennemis et de zombies. Mais, les autres personnages qui sont dans la même case que moi, comment les voir ? Ne paniques pas, tu n’es jamais tout seul à l’IstiA !

						<br><br>Pour savoir si il y a un personnage (ou plus) dans la case, regardes le voyant du bouton JOUEURS, s'il est jaune oui, sinon il est gris. De plus, si tu cliques sur ce bouton, tu peux voir la liste des Alliés et des Ennemis présents dans la case ! Il te suffit alors de passer la souris sur un personnage pour visualiser les informations propres à chacun. 
						
						<br><br>La description d’un allié est bien entendu plus précise que celle d’un ennemi. En effet, seul les pseudonymes des alliés te sont visibles, de manière à organiser de meilleures stratégies d'équipe, et comme dans la vraie vie, on ne connaît jamais ses adversaires.

						<br><br>Vous avez dit « attaquer » ? Pour attaquer un joueur ennemi, il suffit de le sélectionner en cliquant sur son personnage (un carré désigne celui que tu as choisi), puis de cliquer sur le bouton ATTAQUER (dont le voyant devient bleu lorsqu’un personnage est sélectionné).
						
						<br><br>Une fois l’attaque portée, libre à toi de réattaquer le même ennemi, en choisir un autre, ou cliquer sur le bouton RETOUR. Ce bouton permet de revenir sur la carte, tu n’es donc pas obligé d’attaquer un ennemi, même si celui-ci est sélectionné.

						<br><br>Pour attaquer des zombies, c’est un vrai jeu d’enfant, il te suffit de cliquer sur le bouton TUER ZOMBIE(S). Son voyant est gris lorsqu’il n’y a pas de zombies dans la case, et bleu lorsqu’il y en a.
						
						<br><br><br><br><br>
					</p>
				</div>
				<hr>
				<h1>Les messages</h1>
					<p>
						Dans ce jeu, tu reçois un message à chaque fois qu’il se passe quelque chose dans la case où tu te trouves. En dessous du bouton JOUEURS se trouve le bouton MESSAGES. Lorsque tu n’as aucun message, le voyant du bouton est gris. Lorsqu’un nouveau message arrive, le voyant passe au jaune vif, et un nombre de messages non lus s’affiche en dessous du bouton. Lorsque tu as lu les nouveaux messages, le voyant devient jaune terne.
						
						<br><br>Afin de visualiser tes messages (si tu en as), il te suffit de cliquer sur le bouton, une page s’ouvre alors par-dessus la carte, affichant chaque message, du plus récent au plus ancien. Tu peux également faire défiler les messages de page en page, afin de relire l’historique de tes messages. Le bouton OK permet de remettre ton nombre de nouveaux messages à zéro.

            			<br><br>A chaque fois que tu effectues une action, un message s’affiche en réponse à cette action. Ces messages sont affichés à gauche de la carte, dans le cadre qui leur est réservé. Il ne faut pas oublier que Zomb’IstiA est un jeu où les informations priment sur le graphisme. C’est pour cela qu’il est important d’être attentif à chaque message de retour et agir en conséquence !
            	<h1>Les tchats</h1>
					<p>
						Afin d'élaborer de meilleures stratégies, tu as accès à un chat privé, uniquement ouvert aux membres de ton équipe.
						<br>Ce chat est accessible depuis le sous-onglet CHAT DE L'EQUIPE de l'onglet JEU.
						
						<br><br>Tu as également accès à un chat général, où tous les joueurs peuvent discuter s'ils le souhaitent.
						<br>Ce chat est accessible depuis l'onglet CHAT.
					</p>
				<hr>
				<h1>Bon courage !</h1>
            			<h3 align="center">Tu as désormais toutes les clés en main pour survivre et mener ton équipe à la victoire !</h3>
            			
		    			</div>


		    		</div>


		    	</div> 
			</div>
	    </body>

	</html>